@font-face {
  font-family: 'TmoneyRoundWindRegular';
  src: url('./styles/font/TmoneyRoundWindRegular.otf') format('woff2'),
    url('./styles/font/TmoneyRoundWindRegular.otf') format('woff'),
    url('./styles/font/TmoneyRoundWindRegular.otf') format('truetype');
}

* {
  box-sizing: border-box;
  font-family: 'TmoneyRoundWindRegular';
}
html,
body,
#root,
.App {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/assets/background_size.png');
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
